<form action="javascript:void(0);" name="form1" id="form1">
  <input type="text" name="location" class="textbox" id="location" value="" />
  <input type="submit" value="Submit" class="submit" />
</form>

<div id="map-canvas"></div>

<script type="text/javascript">
  // Autocomplete variables
  var input = document.getElementById('location');
  var searchform = document.getElementById('form1');
  var place;
  var autocomplete = new google.maps.places.Autocomplete(input);

  // Google Map variables
  var map;
  var marker;

  // Add listener to detect autocomplete selection
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
    place = autocomplete.getPlace();
    // console.log(place;)
  });

  // Add listener to search
  searchform.addEventListener("submit", function() {
    var newlatlong = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
    map.setCenter(newlatlong);
    marker.setPosition(newlatlong);
    map.setZoom(12);
  })

  // Reset the input box on click
  input.addEventListener('click', function(){
    input.value = "";
  });

  function initialize() {
    var myLatlng = new google.maps.LatLng(51.517503,-0.133896);
    var mapOptions = {
      zoom: 1,
      center: myLatlng
    }
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Main map'
    });
  }

  google.maps.event.addDomListener(window, 'load', intialize);
</script>
