<div class="container">
<div class="splash">
<h1>Welcome to Alum.ly!</h1>
<p>
	Alum.ly is the page for all your GA Alum needs! </br>
	Find friends! Post a job! Ask for help! Check out events!</br>
    Whatever you Alum needs are, we are here to help!
</p>
<div class="buttons">

 <%= link_to 'Sign In', new_sessions_path, class: 'button' %>

 <%= link_to 'Sign Up', new_user_path, class: 'button' %>

 </div>
</div>
</div>
