<div class="container">
<div class="row clearfix splash">
<div class="column full banner">
<h1>Welcome to Alum.ly!</h1>
<p>
	Alum.ly is the page for all your GA Alum needs! </br>
	Find friends! Post a job! Ask for help! Check out events!</br>
    Whatever you Alum needs are, we are here to help!
</p>
<div class="buttons">

 <%= link_to 'Sign In', new_sessions_path, class: 'button_secondary' %>

 <%= link_to 'Sign Up', new_user_path, class: 'button' %>

 </div>
 </div>
 </div>

<div class="row clearfix benefits">

	<div class="column third">
		
		<img class="icon" src="../assets/ga_connect.png">
		<h2>Connections</h2>
		<p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. Holly, Snape centaur portkey ghost Hermione </p>
	</div>

	<div class="column third">
		
		<img class="icon" src="../assets/ga_events.png">
		<h2>Events</h2>
		<p>Prefect’s bathroom Trelawney veela squashy armchairs, SPEW: Gamp’s Elemental Law of Transfiguration. Magic Nagini bezoar</p>
	</div>

	<div class="column third">
		
		<img class="icon" src="../assets/ga_jobs.png">
		<h2>Jobs</h2>
		<p>Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and </p>
	</div>
</div>

<div class="row clearfix footer">
	<div class="column full">
	<p>Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and </p>


	</div>


</div>
</div>
