/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 /* Small screens (default) */
 html { font-size: 100%; }

 /* Medium screens (640px) */
 @media (min-width: 40rem) {
   html { font-size: 112%; }
 }

 /* Large screens (1024px) */
 @media (min-width: 64rem) {
   html { font-size: 120%; }
 }

/* --- Overall page layout ---- */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.container {
  margin: 0;
  max-width: rem-calc(100%);
  width: 100%;
  position: relative;
  padding: 0;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.fifth { width: 20%; }
  .column.two-fifths { width: 80%; }
  .column.three-fourths { width: 75%; }
  .column.three-fifths { width: 60%; }
  .column.flow-opposite { float: right; }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* --- Navigation ---*/

.sidenav_container {
  max-width: rem-calc(25%);
  width: 25%;
  height: 100%;
  background-color: #000000;
  float: left;
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.sidenav_container ul {
  list-style: none;
  margin: 0;
}

.sidenav_container ul li {
  color: #FFFFFF;
  line-height: 3em;
}

.sidenav_container ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.sidenav_container ul li a:hover {
  color: #fa4542;
}

.copyright {
  font-size: 0.5rem;
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto 2em auto;
  text-align: center;
  text-transform: none;
}

/* Small screens (400px) */
@media only screen and (max-width: 639px) {
  .sidenav_container {
    max-width: rem-calc(20%);
    width: 20%;
  }

  .sidenav_container ul {
    padding: 0;
  }

  .nav_link {
    display: none;
  }

  .nav_icon {
    font-size: 3rem;
    line-height: 7rem;
    padding-left: 1rem;
  }

  .nav_icon:hover {
    color: #fa4542;
  }

}

/* --- Main Content --- */

.main_container {
  max-width: rem-calc(75%);
  width: 75%;
  float: right;
  padding: 1rem;
  background-color: #FFFFFF;
}

/* --- Typography --- */

p {
  font-family: 'Gentium Basic', serif;
  font-size: 1em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 .label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: #fa4542;
  text-decoration: none;
}

a:hover {
  color: #fa4542;
  text-decoration: underline;
}

.link_secondary {
  color: #bdbdbd;
}

.link_secondary:hover {
  color: #e3e3e3;
}

.label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.label_black {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  font-size: 0.9em;
}

.post_time {
  font-size: 0.8em;
  color: #969696;
  font-style: italic;
  font-family: 'Gentium Basic', serif;
}

.edit_delete {
  font-size: 0.8em;
  float: right;
  font-family: 'Gentium Basic', serif;
}

.content_title {
  color: #000000;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*style for choose file button label on user signup*/
.label {
  font-size: 0.7em;
  color: white;
}
/* --- Button Styling --- */

.button {
  background-color: #fa4542;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: #e02a27;
  color: #FFFFFF;
  text-decoration: none;
}

.button_secondary {
  background-color: #BDBDBD;
  padding: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button_secondary:hover {
  background-color: #A5A5A5;
  color: #FFFFFF;
  text-decoration: none;
}

.button_new {
  background-color: #BDBDBD;
  padding: 0.5rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.6em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button_new:hover {
  background-color: #A5A5A5;
  color: #FFFFFF;
  text-decoration: none;
}

.button_inverse {
  background-color: none;
  padding: .5rem;
  color: #fa4542;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #fa4542;
}

input[type=submit] {
  border: none;
}

/* --- Form Styling --- */
input[type=text] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

input[type=text]:focus {
  border: solid 1px #fdde29 ;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

textarea:focus {
  border: solid 1px #fdde29 ;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

input[type=date] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

input[type=date]:focus {
  border: solid 1px #fdde29 ;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

input[type=time] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

input[type=time]:focus {
  border: solid 1px #fdde29 ;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

input[type=password] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

input[type=password]:focus {
  border: solid 1px #fdde29 ;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

select {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

select:focus {
  border: solid 1px #fdde29 ;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

/*--Splash Styling--*/
.splash{
  /*background-image: url("ga_banner_splash_blacker.png");*/
 /* width: 100%;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.splash p{
  text-align: center;
  color: #FFFFFF;
}

.splash h1{
  text-align: center;
  color: #FFFFFF;
  font-size: 2.5em;
  line-height: 1em;
}

.buttons {
  margin: 40px auto 20px auto;
  width: 200px;
}

.benefits {
  background-color: #FFFFFF;
}

.benefits h2 {
  text-align: center;
}

.benefits p{
  text-align: center;
  padding: 0 1.5rem 2rem 1.5rem;
}

img.icon {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding-top: 3rem;
}

.banner {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.session {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.user_submit {
  margin: 0 auto;
  width: 33%;
  text-align: center;
}

.user_submit_center {
  text-align: center;
}

.footer {
  background-color: #000000;

}

.footer p {
  text-align: center;
  margin: 0;
}

.footer p a {
  padding: 0 0.1em;
  font-size: 2.2em;

}

.social {
  color: #FFFFFF;
}

.social:hover {
  color: #fa4542;
}

.session .button {
  width: 100%;
}

.button_inverse {
  width: 100%;
}

/* --- Google Maps Styling --- */

#map-canvas {
	height: 300px;
  margin: 0 0 1rem 0;
  border: 2px solid #969696;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/* --- Login --- */

.black_back {
  background-color: #000000;
  height: 100%;
  padding: 3em 0 3em 0;
}

.login h1 {
  text-align: center;
  color: #FFFFFF;
}

/* --- Users --- */
.small_profile {
  border: 2px solid #969696;
  width: 120px;
  height: 120px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.medium_profile {
  border: 2px solid #969696;
  width: 250px;
  height: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.profile_stuff {
  padding: 1em 0 1em 0;
}

.profile_deets h2 {
  margin-top: 0;
  padding-top: 0;
}

.meta-info {
  padding-bottom: 2rem;
}

/* --- Pagination --- */

.pagination {
  text-align: center;
  text-align: center;
  padding: 1em;
  cursor: default;
  font-size: 0.8rem;
  font-family: 'Gentium Basic', serif;
}

.pagination a, .pagination span {
  padding: 0.2em 0.3em;
}

.pagination .disabled {
    color: #aaaaaa;
}

.pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #fa4542;
    color: #FFFFFF;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.pagination a {
    text-decoration: none;
    color: #969696;
}

.pagination a:hover, .pagination a:focus {
    text-decoration: none;
    background-color: #ececec;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
}

/*--- Search ---*/

.search-form {
  display: inline;
}

#search-input {
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  border: #969696 2px solid;
  padding: 0.5rem;
  font-size: .8em;
  width: 75%;
  margin: 10px 0px 10px 0px;
}

#search-input:focus {
  border: solid 1px #fdde29;
  box-shadow: 0 0 5px 1px #ffee31;
  outline: none;
}

#search-submit {
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  background-color: #fa4542;
  border: solid 1px #fa4542;
  color: #FFFFFF;
  padding: 0.6rem;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 20%;
  margin-top: -3px;
}

#search-submit:hover {
  background-color: #e02a27;
  color: #FFFFFF;
  text-decoration: none;
}

/* --- Comments -- */

.comments_post {
  font-size: 0.8em
}
