<div class="container">
  <div class="sidenav_container">
    <ul>
      <li><i class="fa fa-home"></i><a href="/pages/dashboard"> Home</a></li>
      <li><i class="fa fa-users"></i><a href="/users"> Alumni</a></li>
      <li><i class="fa fa-comments"></i><a href="/posts"> Forum</a></li>
      <li><i class="fa fa-rocket"></i><a href="/jobs"> Jobs</a></li>
      <li><i class="fa fa-calendar"></i><a href="/events"> Events</a></li>
    </ul>
  </div>
