<div class="container">
  <div class="sidenav_container">
    <ul>
      <li><a href="/pages/dashboard">Home</a></li>
      <li><a href="/users">Alumni</a></li>
      <li><a href="/posts">Forum</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/events">Events</a></li>
    </ul>
    <p class="copyright">Made with &hearts; by Katie Kelleher, Lee Richardson &amp; Lauren Pawell.
  </div>
