<div class="container">
  <div class="sidenav_container">
    <ul>
      <li><i class="fa fa-home nav_icon"></i><a class="nav_link" href="/pages/dashboard"> Home</a></li>
      <li><i class="fa fa-users nav_icon"></i><a class="nav_link" href="/users"> Alumni</a></li>
      <li><i class="fa fa-comments nav_icon"></i><a class="nav_link" href="/posts"> Forum</a></li>
      <li><i class="fa fa-rocket nav_icon"></i><a class="nav_link" href="/jobs"> Jobs</a></li>
      <li><i class="fa fa-calendar nav_icon"></i><a class="nav_link" href="/events"> Events</a></li>
    </ul>
  </div>
