<div class="container">
  <div class="sidenav_container">
    <ul>
      <li><i class="fa fa-home nav_icon"></i><a class="nav_link" href="/pages/dashboard"> Home</a></li>
      <li><i class="fa fa-users nav_icon"></i><a class="nav_link" href="/users"> Alumni</a></li>
      <li><i class="fa fa-comments nav_icon"></i><a class="nav_link" href="/posts"> Chatter</a></li>
      <li><i class="fa fa-rocket nav_icon"></i><a class="nav_link" href="/jobs"> Jobs</a></li>
      <li><i class="fa fa-calendar nav_icon"></i><a class="nav_link" href="/activities"> Events</a></li>
      <li><i class="fa fa-sign-out"></i><%= link_to " Log Out", sessions_path, method: :delete %></li>
    </ul>
  </div>
